<div class="box">
  <div class="area small">
    <label>color : primary(or undefined)</label>
    <ngx-mat-counterspinner
      [value]="89"
      [max]="100"
      [display]="CounterSpinnerDisplayMode.Ratio"
    ></ngx-mat-counterspinner>
  </div>

  <div class="area medium">
    <label>color : accent</label>
    <ngx-mat-counterspinner
      [value]="70"
      [color]="'accent'"
      [mode]="'determinate'"
      [diameter]="150"
    ></ngx-mat-counterspinner>
  </div>

  <div class="area large">
    <label>color : warn</label>
    <ngx-mat-counterspinner
      [value]="546"
      [color]="'warn'"
      [diameter]="250"
    ></ngx-mat-counterspinner>
  </div>
</div>
